main {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

h1 {
  text-align: center;
  padding: 2rem 0;
}

@media (max-width: 850px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
